<form class="product-form" action="add-product" method="POST">
  <div class="form-control">
    <label for="product-name">
      ☕ Product Name
    </label>
    <input type="text" name="name" id="product-name" />
  </div>
  <button type="submit">
    Agregar producto
  </button>
</form>